{% extends "skeleton.html" %}

{% block content %}

    <div class="page-header">
        <h2><strong> {{ host.name }} - {{ role.name }} - {{ component.name }} </strong></h2>
    </div>

    <div class="row">
        <div class="col-md-10">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="col-md-2">Host</th>
                    <th class="col-md-2">Role</th>
                    <th class="col-md-3">Components</th>
                    <th class="col-md-3">Variables</th>
                    <th class="col-md-3">Values</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ host }}</strong></td>
                    <td><strong>{{ role }}</strong></td>
                    <td><strong>{{ component }}</strong></td>

                    {% for component_variables in components_variables %}
                        <td> {{ component_variables.variable.name }} </td>
                        <td>
                            <script>
                                function myFunction() {
                                    var value = "{{ component_variables.variable.default_value }}"
                                    var new_value = prompt('Enter value',value)
                                    var url = ''
                                    url.replace('135','137')
                                    location.href= url
                                }

                            </script>
                        <a onclick="myFunction()">{{ component_variables.variable.default_value }}</a>

                    </td>
                        </tr>
                        <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    {% endfor %}
                    <td></td>
                    <td></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


{% endblock %}