{% extends "skeleton.html" %}
{% load static %}
{% block extrahead %}
    <script type="text/javascript" src={% static 'js/my_js.js' %}> </script>
{% endblock %}

{% block content %}

    <div class="page-header">
        <h2><strong> {{ host.name }} - {{ role.name }} - {{ component.name }} </strong></h2>
    </div>

    <div class="row">
        <div class="col-md-10">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="col-md-2">Host</th>
                    <th class="col-md-2">Role</th>
                    <th class="col-md-3">Components</th>
                    <th class="col-md-3">Variables</th>
                    <th class="col-md-3">Values</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ host }}</strong></td>
                    <td><strong>{{ role }}</strong></td>
                    <td><strong>{{ component }}</strong></td>

                    {% for component_variables in components_variables %}
                        <td> {{ component_variables.variable.name }} </td>
                        {% if component_variables.value == "" %}
                            <td>
                                <a class="variable" id="{{ component_variables.id }}"> {{ component_variables.variable.default_value }}</a>
                            </td>
                        {% else %}
                            <td>
                                <a class="variable" id="{{ component_variables.id }}"> {{ component_variables.value }}</a>
                            </td>

                        {% endif %}
                        </tr>
                        <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    {% endfor %}
                    <td></td>
                    <td></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


{% endblock %}