{% extends "skeleton.html" %}
{% load static %}


{% block content %}

    <div class="page-header">
        <h2><strong>{{ host.name }}</strong></h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="col-md-2">Host </th>
                    <th class="col-md-2">Role</th>
                    <th class="col-md-2">Components</th>
                    <th class="col-md-2">Variables</th>
                    <th class="col-md-4">Values</th>
                </tr>
                </thead>
                <tbody>

                <td>
                    <strong>{{ host }}</strong>
                    <button type="button" class="btn btn-xs btn-info" onclick="location.href='{% url "LSEGapp.views.edit_host" host.id  %}';">
                        <span   class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button class="btn btn-xs btn-danger" name="delete_host" onclick="location.href='{% url "LSEGapp.views.delete_host" host.id  %}';">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </td>

                {% for object in object_list %}
                    <td><strong><a  href="{% url "LSEGapp.views.role_details" host.id object.role_component.host_role.role.id %}">{{ object.role_component.host_role.role }}</a></strong>  </td>

                    <td> <i><strong>{{ object.role_component.component }}</strong></i> </td>

                    {% for component_variables in object.variable_list %}
                        <td> {{ component_variables.variable }} </td>
                        {% if component_variables.value == "" %}

                            <td>
                                <a class="variable" id="{{ component_variables.id }}">{{ component_variables.variable.default_value }}</a>
                                {% else %}
                            <td style="width: 100%">
                            <a style="width: 100%;" class="variable" id="{{ component_variables.id }}">{{ component_variables.value }}</a>

                        {% endif %}
                    <button title="Default is : {{component_variables.variable.default_value }}" style="float: right;" type="button" class="btn btn-xs btn-danger" id="{{ component_variables.id }}" name="old_value" >
                        <span style="width: 100%" class="glyphicon glyphicon-repeat"></span>
                    </button>
                    </td>
                        </tr>
                        <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    {% endfor %}
                <td></td>
                <td></td>
                    <tr></tr>
                    <td></td>

                {% endfor   %}
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                </tbody>
            </table>
        </div>
    </div>


{% endblock %}