{% extends "skeleton.html" %}
{% load static %}

{% block extrahead %}
    <script type="text/javascript" src={% static 'js/my_js.js' %}> </script>
{% endblock %}

{% block content %}

    <div class="page-header">
        <h2><strong>{{ host.name }} - {{ role.name }}</strong></h2>
    </div>

    <div class="row">
        <div class="col-md-10">
            <table class="table table-striped">

                <thead>
                <tr>
                    <th class="col-md-2">Host</th>
                    <th class="col-md-2">Role</th>
                    <th class="col-md-3">Components <button type="button" class="btn btn-xs btn-success">Add</button></th></th>
                    <th class="col-md-3">Variables</th>
                    <th class="col-md-3">Values</th>
                </tr>
                </thead>

                <tbody>
                    <tr>
                    <td><strong>{{ host }}</strong></td>
                    <td><strong>{{ role }}</strong></td>

                    {% regroup components_variables by role_component  as role_component_list %} <!-- the list of host_roles is regrouped by host -->
                    {% for role_component in role_component_list %}
                        <td>
                            <a  href="{% url "LSEGapp.views.component_details" host.id role.id role_component.grouper.component.id  %}"><strong>{{ role_component.grouper.component }}</strong></a>
                            <button type="button" class="btn btn-xs btn-info" onclick="location.href='{% url "LSEGapp.views.edit_component" host.id role.id role_component.grouper.component.id  %}';">
                                <span   class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button type="button" id="submit" class="btn btn-xs btn-danger" onclick="location.href='{% url "LSEGapp.views.delete_component" host.id role.id role_component.grouper.component.id  %}';"  >
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>

                        {% for component_variable in role_component.list %}

                            <td>{{ component_variable.variable }}</td>
                            <td><a class="variable" id={{ component_variable.id }}>{{ component_variable.variable.default_value }}</a></td>
                            </tr>
                            <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        {% endfor %}
                    <td></td>
                    <td></td>
                    </tr>
                        <tr>
                        <td></td>
                        <td></td>

                    {% endfor %}
                    <td></td> <td></td> <td></td> <!-- FOR LAYOUT PURSPOSES -->
                    </tr>


                </tbody>
            </table>
        </div>
    </div>


{% endblock %}