
h1{
    color: darkgoldenrod
}

h2{
    color: darkgoldenrod;
}

h2{
    color: darkgoldenrod;
}

#home {
    color: aquamarine
}

#head-css {
    color: red;
    text-align: center;
}

#col-md-10 {
    margin:0
}

#table-striped {
    color: red;
    width: auto;
}

#btn {
    margin-left: 50px;

}


.my-button{
    margin-left: 5px;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-color: transparent;;
}

.my-button:hover{
    opacity: .5;
    transition: opacity 200ms linear;
}

.my-button.generate{
    background: url("save.png");
}

.my-button.default{
    background: url("");
}