{% extends 'skeleton.html' %}

{% load static %}

{% block extrahead %}
    <script type="text/javascript">
        $(function() {
            $('.variable_formset').formset({
                extraClasses: ['row1']
            })
        })
    </script>
    <!-- Here's an example of how you can style add/delete buttons with CSS -->
    <link rel="stylesheet" href="{% static 'css/formset.css' %}" />

{% endblock %}

{% block nav %}
    <li ><a href="{% url "LSEGapp.views.index"%}">Home</a></li>
    <li><a href="{% url "LSEGapp.views.role_template" %}">Roles</a></li>
    <li class="active"><a href="{% url "LSEGapp.views.component_template" %}">Components</a></li>
    <li><a href="{% url "LSEGapp.views.variables"%}">Variables</a></li>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>Add a component </h2>
    </div>

    <form method="post" action="">
        {% csrf_token %}

        <div style="margin-bottom: 10px">
            <br> <strong> {{ form2.name.label }} :</strong>  {{ form2.name }}
        </div>

        <div class="">
            <div style="display: inline-block;" >
                {% for form in formset.forms %}
                    <div class= "variable_formset"  style="padding-bottom:6px; border-bottom:1px dotted #ccc; margin-bottom:6px;">
                        <strong>{{ form.variable.label}} : </strong>
                        {{ form.variable }}
                    </div>
                {% endfor %}
            </div>
            <p>
                {{ formset.management_form }}
                <input type="submit" class="btn btn-s btn-success" value="Add component" style=""/>
            </p>
        </div>


    </form>



    <div class="page-header">
        <h3>Existing Components</h3>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="col-md-3">Component</th>
                    <th class="col-md-3">Variables</th>
                    <th class="col-md-3">Default_Values</th>
                </tr>
                </thead>
                <tbody>
                {% regroup components_variables by component as component_list %} <!-- the list of host_roles is regrouped by host -->
                {% for component in component_list %}
                    <tr>
                        <td align="right">
                            <span style="float: left"><strong>{{ component.grouper }}</strong></span>
                            <button type="button" class="btn btn-xs btn-info" onclick="location.href='{% url "LSEGapp.views.edit_component_template" component.grouper.id  %}';">
                                <span   class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button type="button" id="submit" class="btn btn-xs btn-danger" onclick="location.href='{% url "LSEGapp.views.delete_component_template" component.grouper.id %}';"  >
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>

                        </td>
                        {% for component_variable in component.list %}

                            <td>{{ component_variable.variable }}</td>
                            <td>{{ component_variable.variable.default_value }}</td>
                            </tr>
                            <tr>
                            <td></td>

                        {% endfor %}
                        <td></td>
                        <td></td>
                        </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>



{% endblock %}