{% extends "skeleton.html" %}

{% block nav %}
    <li><a href="{% url "LSEGapp.views.index"%}">Home</a></li>
    <li><a href="{% url "LSEGapp.views.role_template" %}">Roles</a></li>
    <li><a href="{% url "LSEGapp.views.component_template" %}">Components</a></li>
    <li class="active"><a href="{% url "LSEGapp.views.variables"%}">Variables</a></li>
{% endblock %}


{% block content %}
    <div class="page-header">
        <h2>Edit variable <strong>{{ var }}</strong></h2>
    </div>

    <form action="" method="post">
        {% csrf_token %}
        <table class="table table-striped" style="margin-bottom: 5px">
            <thead>
            <th>{{ form.name.label }}</th>
            <th>{{ form.type.label }}</th>
            <th>{{ form.default_value.label }}</th>
            <th>{{ form.required.label }}</th>
            <th>{{ form.description.label }}</th>
            </thead>
            <tbody>
            <tr>
                <td>{{ form.name }}
                <span style="display: inline-block; color: red;">{{ form.name.errors }}</span>
                </td>

                <td>{{ form.type }}</td>
                <td>{{ form.default_value }}</td>
                <td>{{ form.required }}</td>
                <td>{{ form.description }}</td>
            </tr>

            </tbody>
        </table>

        <input type="submit" class="btn btn-s btn-success" value="Save variable" style="float: right"/>
    </form>

{% endblock %}