{% extends "skeleton.html" %}
{% load static %}


{% block customized_javascript %}
    <script type="text/javascript" src="{% static 'js/variables_table.js' %}"></script>
{% endblock %}


{% block nav %}
    <li><a href="{% url "LSEGapp.views.index"%}">Home</a></li>
    <li><a href="{% url "LSEGapp.views.role_template" %}">Roles</a></li>
    <li><a href="{% url "LSEGapp.views.component_template" %}">Components</a></li>
    <li class="active"><a href="{% url "LSEGapp.views.variables"%}">Variables</a></li>
{% endblock %}


{% block content %}
    <div class="page-header">
        <h2>Variable Table </h2>
        <span style="display: inline-block; color: red;" class="alert_red"></span>
        <span style="display: inline-block; color: green;" class="alert_green"></span>
    </div>


    <div id="jsGrid"></div>

    <div class="page-header" style="margin-top: 75px">

    </div>



{% endblock %}