{% extends 'skeleton.html' %}

{% block extrahead %}
    <script type="text/javascript">
        $(function() {
            $('#id_contact_info_table tbody tr').formset({
                extraClasses: ['row1']
            })
        })
    </script>
    <!-- Here's an example of how you can style add/delete buttons with CSS -->
    <style type="text/css">
        .add-row {
            padding-left:18px;
            background:url(/static/images/add.png) no-repeat left center;
        }
        .delete-row {
            float:right;
            display:block;
            margin:5px 0 0 5px;
            text-indent:-6000px;
            background:url(/static/images/delete.png) no-repeat left center;
            width:16px;
            height:16px;
        }
        tr.row1 td { background-color: #f9f9f9; }
        tr.row2 td { background-color: #f3f3f3; }
        tr.row3 td { background-color: #ededed; }

        th {
            text-align: left;
            margin: 5px 0 0 5px;
        }
    </style>
{% endblock %}


{% block content %}
    <form id="myForm" method="post" action="" >
    {% csrf_token %}
        <table >
            <tr>
                <th>{{ form2.environment.label }}</th>
                <td>{{ form2.environment }}</td>
            </tr>
            <tr>
                <th>{{ form3.name.label }} </th>
                <td>{{ form3.name }}</td>
            </tr>
            <tr>
                <th>{{ form3.business_application.label }}  </th>
                <td>{{ form3.business_application }} </td>
            </tr>
        </table>


            <table id="id_contact_info_table" border="0" cellpadding="0" cellspacing="5">
                <tr> <th scope="col" style="margin: 50px  5px 5px 10px;">Role</th>
                    {% for form in formset.forms %}
                        <td style="text-align:center;">{{ form.role }}</td>
                        </tr>
                        <tr>
                        <td></td>
                    {% endfor %}
                </tr>
            </table>
            <p>
                {{ formset.management_form }}
                <input type="submit" class="btn btn-s btn-success" value="Save changes"  />
            </p>
    </form>


{% endblock %}