{% extends 'skeleton.html' %}

{% load static %}

{% block customized_javascript %}
    <script type="text/javascript" src="{% static 'js/js-grid tables/index.js' %}"></script>
{% endblock %}

{% block content %}

    <div style="margin-top: 20px">
        <form action="{% url 'LSEGapp.views.index' %}" method="post">
            {% csrf_token %}
            <h4>{{ form.environment.label }} :  {{ form.environment }}</h4>

        </form>
    </div>

    <div class="page-header">
        <h3 id="id">Machine Table</h3>
    </div>


    <div id="jsGrid"></div>

    <div class="page-header" style="margin-top: 75px">

    </div>


{% endblock %}

