{% extends 'skeleton.html' %}

{% block extrahead %}

{% endblock %}

{% block content %}

    <div style="margin-top: 20px">
        <form action="{% url 'LSEGapp.views.index' %}" method="post">
            {% csrf_token %}
            <h4>{{ form.environment.label }} :  {{ form.environment }}</h4>

        </form>
    </div>

    <div class="page-header">
        <h3 id="id">Machine Table</h3>
    </div>
    <div class="row">
        <div class="col-md-5">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="col-md-3">Host <button type="button" class="btn btn-xs btn-success" onclick="location.href='{% url "LSEGapp.views.add_host" environment.id %}';">Add</button></th>
                    <th class="col-md-4">Role</th>
                </tr>
                </thead>
                <tbody>
                {% regroup host_roles by host as host_grouped %} <!-- the list of host_roles is regrouped by host -->
                {% for group in host_grouped %}
                    <tr>
                        <td>
                            <strong><a href="{% url "LSEGapp.views.host_details_2" group.grouper.id %}">{{ group.grouper }}</a></strong>
                            <button style="float: right;" class="btn btn-xs btn-success" onclick="location.href='{% url "LSEGapp.views.save_file" group.grouper.id %}';">
                                <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                            </button>
                            
                            <button style="float: right"  class="btn btn-xs btn-danger" onclick="location.href='{% url "LSEGapp.views.delete_host" group.grouper.id  %}';">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>

                        </td>
                        {% for host_role in group.list %}
                            <td>
                                <a href="{% url "LSEGapp.views.role_details" group.grouper.id host_role.role.id %}"> {{ host_role.role.name }} </a>
                            </td>
                            </tr>
                            <tr>
                            <td></td>
                        {% endfor %}
                        <td></td>
                        </tr>
                {% endfor %}



                </tbody>
            </table>
        </div>
    </div>


{% endblock %}

