{% extends 'skeleton.html' %}

{% block extrahead %}
    <script type="text/javascript">
        $(function() {
            $('#id_contact_info_table tbody tr').formset({
                extraClasses: ['row1']
            })
        })
    </script>
    <!-- Here's an example of how you can style add/delete buttons with CSS -->
    <style type="text/css">
        .add-row {
            padding-left:18px;
            background:url(/static/images/add.png) no-repeat left center;
        }
        .delete-row {
            float:right;
            display:block;
            margin:5px 0 0 5px;
            text-indent:-6000px;
            background:url(/static/images/delete.png) no-repeat left center;
            width:16px;
            height:16px;
        }
        tr.row1 td { background-color: #f9f9f9; }
        tr.row2 td { background-color: #f3f3f3; }
        tr.row3 td { background-color: #ededed; }

        th {
            text-align: left;
            margin: 5px 0 0 5px;
        }

        .component_table{
            color: darkgoldenrod;
        }


    </style>
{% endblock %}

{% block nav %}
    <li ><a href="{% url "LSEGapp.views.index"%}">Home</a></li>
    <li><a href="{% url "LSEGapp.views.role_template" %}">Roles</a></li>
    <li class="active"><a href="{% url "LSEGapp.views.component_template" %}">Components</a></li>
    <li><a href="{% url "LSEGapp.views.variables"%}">Variables</a></li>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>Add a component</h2>
    </div>

    <form id="myForm" method="post" action="">
        {% csrf_token %}
        <table >
            <tr>
                <th>{{ form2.name.label }} </th>
                <td>{{ form2.name }}</td>
            </tr>
        </table>


        <table id="id_contact_info_table"  border="0" cellpadding="0" cellspacing="5">
            <tr > <th scope="col" style="margin: 50px  5px 5px 10px;">Variable</th>
                {% for form in formset.forms %}
                    <td style="text-align:center;">{{ form.variable }}</td>
                    </tr>
                    <tr>
                    <td></td>
                {% endfor %}
                </tr>
        </table>
        <p>
            {{ formset.management_form }}
            <input type="submit" class="btn btn-s btn-success" value="Add component" style=""/>
        </p>
    </form>


    <div class="page-header">
        <h3>Existing Components</h3>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="col-md-3">Component</th>
                    <th class="col-md-3">Variables</th>
                    <th class="col-md-3">Default_Values</th>
                </tr>
                </thead>
                <tbody>
                {% regroup components_variables by component as component_list %} <!-- the list of host_roles is regrouped by host -->
                {% for component in component_list %}
                    <tr>
                        <td align="right">
                            <span style="float: left"><strong>{{ component.grouper }}</strong></span>
                            <button type="button" class="btn btn-xs btn-info" onclick="location.href='{% url "LSEGapp.views.edit_component_template" component.grouper.id  %}';">
                                <span   class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button type="button" id="submit" class="btn btn-xs btn-danger" onclick="location.href='{% url "LSEGapp.views.delete_component_template" component.grouper.id %}';"  >
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>

                        </td>
                        {% for component_variable in component.list %}

                            <td>{{ component_variable.variable }}</td>
                            <td>{{ component_variable.variable.default_value }}</td>
                            </tr>
                            <tr>
                            <td></td>

                        {% endfor %}
                        <td></td>
                        <td></td>
                        </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>



{% endblock %}